body {
  margin: 0;
  padding: 0;
}

.main-page {
  font-family: sans-serif;
  text-align: center;

  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 10%  auto 50vh;

  height: 200vh;

  padding: 0;
  margin: 0;
  border: 0;

  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .main-page {
    grid-template-columns: 1fr;
  }
}

.header {
  height: 10%;
  grid-column: 1/4;
  grid-row: 1;
}

.content-list {
  top: 0;
  grid-column: 2;
  grid-row: 2;
}

@media (max-width: 600px) {
  .content-list {
    grid-column: 1;
  }
}

.post-container {
  font-family: sans-serif;


  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 10%  auto 50vh;

  height: 200vh;

  padding: 0;
  margin: 0;
  border: 0;

  top: 0;
  left: 0;
}

.post {
  top: 0;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}
